<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.icomputercoding.computercoding">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeLab">
        <activity
            android:name=".Quiz.HTML5QuizActivity"
            android:exported="false" />
        <activity
            android:name=".Languages.HTML5Screen"
            android:exported="false" />
        <activity
            android:name=".AboutUsScreen"
            android:exported="false" />
        <activity
            android:name=".PdfViewer"
            android:exported="false" />
        <activity
            android:name=".Languages.CScreen"
            android:exported="false" />
        <activity
            android:name=".Languages.JavaScreen"
            android:exported="false" />
        <activity
            android:name=".Languages.CPPScreen"
            android:exported="false" />
        <activity
            android:name=".Quiz.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz.JavaQuizActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz.CPPQuizActivity"
            android:exported="false" />
        <activity
            android:name=".Quiz.CQuizActivity"
            android:exported="false" />
        <activity
            android:name=".Programs.CodeActivity"
            android:exported="false" />
        <activity
            android:name=".Programs.CodeCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".LoginSignUpSystem.ResetPasswordScreen"
            android:exported="false" />
        <activity
            android:name=".LoginSignUpSystem.RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".LoginSignUpSystem.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>